# Dependencies
/node_modules

# Environment-specific files
.env
.env.*

# Logs
*.log

# Testing
jiraIssues.json
tickets.csv
*.xlsx
*.xls

# Debugging files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Built output
/build

# Coverage reports
/coverage

# IDE-specific files
/.vscode
/.idea

# Miscellaneous
.DS_Store
Thumbs.db